
/* Hoja de estilos realizada por Giovanni Campos Alvarado */
/*Proyecto Final de CSS                                   */

/*                   C O M E N T A R I O S                */
/*--------------------------------------------------------*/

/* Se inicializan los margenes a  0 para quitar los que trae por defaul */
*
{
	margin:0px;
  padding: 0px;
}

/* Se hace el llamado al tipo de Dancing Script */
@font-face {
  font-family: 'Dancing Script';
  src: url('Dancing Script.ttf');
}

body
{
  background-color:  #02010a;
  font-family: 'Dancing Script';
  font-size: 25px;
}

div#centrado
{
	float: left;
  height: 100%;
 	display: inline;
	margin-left: 20px;
}

.contenido
{
	max-width: 900px;
	margin: auto;
}

header
{
  margin:auto;
  height: 100%;
  background-color: #5b7989;
	text-align: center;
	text-shadow: 2px 2px #02010a;
	font-weight: bold;
	padding-bottom: 130px;
	color: white;
	padding-top: 40px;
  border-radius: 15px;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
	animation-duration: 2s;
	animation-name: slidein;
}

header nav
{
  float: right;
	margin-right:   20px;
	font-size: 21px;
}

header nav a:hover
{
	text-decoration: none;
}

header nav a:visited
{
	color: white;
}

header nav a:link
{
	color: white;
}

#imagenCentrada
{
  background-color: #82c3a6;
	text-align: center;
	margin-top: -10px;
}

#imagen{
	margin-top: 15px;
	width: 100%;
	margin-bottom: 10px;
}

figure
{
	margin-left: 20px;
	margin-right: 20px;
}

.contenedorFlex
{
	display:flex;
  flex-direction: row;
  background-color: #d5c75f;
  border: 1px;
	font-weight: bold;
	padding-bottom: 25px;
}

#paisaje
{
  text-align: center;
  width: 50%;
}


#paisaje img:hover
{
    transition: background 1s;
    animation: rotar 3s;
}

@-webkit-keyframes rotar
{
  from
  {
    transform: rotate(10deg);
  }
  to
  {
    height: 0;
  }
}

#paisaje img
{
  border: 2px;
  -webkit-filter: drop-shadow(15px 20px 25px #82c3a6);
  filter: drop-shadow(15px 20px 25px #82c3a6);
}

#retrato
{
  text-align: center;
  width: 50%;
}

#retrato img:hover
{
  transition: background 1s;
  animation: rotarRetrato 2s;
}

@-webkit-keyframes rotarRetrato
{
  from
  {
      transform: translate(20px,-5px);
  }
  to
  {
    height: 0;
  }
}

#retrato img
{
  border: 2px;
  -webkit-filter: drop-shadow(15px 20px 25px #82c3a6);
  filter: drop-shadow(15px 20px 25px #82c3a6);
}

.contenedorFooter
{
  display: flex;
  flex-direction: row;
  background-color: #C6d5c5;
  border-radius: 10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
	margin-top: -6px;
}

#contacto
{
  display: inline;
  width: 25%;
  font-size: 21px;
	margin-left: 20px;
}

div h1
{
  color: black;
  font-size: 25px;
}

#termino
{
  display: inline;
  width: 25%;
  font-size: 21px;
	margin-left: 20px;
}

#redSocial
{
  display: inline;
  width: 25%;
  font-size: 21px;
	margin-left: 20px;
}

div[id^='redSocial'] img
{
  width: 10%;
}

div[id^='redSocial'] a:hover
{
  text-decoration: none;
}

#derechos
{
  display: inline;
  width: 25%;
  font-size: 21px;
	margin-left: 20px;
}

.contenedorFlexImagen
{
	display:flex;
  flex-direction: row;
  background-color: #d5c75f;
  border: 1px;
	font-weight: bold;
	padding-bottom: 10px;
	margin-top: -9px;
}

#imagen1
{
  text-align: center;
  width: 33.3%;
}

#imagen1 img
{
	-webkit-filter: blur(10px);
	  filter: blur(10px);
}

#imagen2
{
  text-align: center;
  width: 33.3%;
}

#imagen3
{
  text-align: center;
  width: 33.3%;
}

#imagen3 img{
  -webkit-filter:sepia(90%);
  filter: sepia(90%);
}

#imagen4
{
  text-align: center;
  width: 33.3%;
}

#imagen5
{
  text-align: center;
  width: 33.3%;
}

#imagen6
{
  text-align: center;
  width: 33.3%;
}

#imagen2, #imagen4, #imagen6 img
{
	-webkit-filter: grayscale(100%);
	 filter: grayscale(100%);
}

@media (max-width: 900px){

	.contenido
	{
		margin: 6px;
		max-width: 100%;
	}

	header
	{
		width: 100%;
	  background-color: #5b7989;
		text-align: center;
		color:white;
		font-size: 30px;
		font-weight: bold;
	  border-radius: 15px;
	  -moz-border-radius:15px;
	  -webkit-border-radius:15px;
		animation-name: slidein;
	}

	#imagenCentrada
	{
	  background-color: #82c3a6;
		text-align: center;
		margin-top: -10px;
	}

	#imagen{
		margin-top: 15px;
		width: 100%;
	}

	header nav
	{
	  margin-top: 15px;
		margin-left: 20px;
		padding-right: 20px;
	}

	.contenedorFlex
	{
	  display: flex;
	  flex-direction: column;
	  background-color: #d5c75f;
	  border: 1px;
		font-weight: bold;
		padding-bottom: 25px;
	}

	#retrato
	{
	  text-align: center;
	  width: 100%;
	}

	#paisaje
	{
		text-align: center;
		width: 100%;
	}

	.contenedorFooter
	{
	  display: flex;
	  flex-direction: column;
	  background-color: #C6d5c5;
	  border-radius: 10px;
	  -moz-border-radius:10px;
	  -webkit-border-radius:10px;
	}

	#contacto
	{
	  width: 100%;
	  font-size: 21px;
	}

	#termino
	{
	  width: 100%;
	  font-size: 21px;
	}

	#redSocial
	{
	  width: 100%;
	  font-size: 21px;
	}

	#derechos
	{
	  width: 100%;
	  font-size: 21px;
	}

	.contenedorFooter #id
	{
		font-size: 15px;
	}

	div h1
	{
  	color: black;
  	font-size: 30px;
	}

	.contenedorFlexImagen
	{
		display: flex;
		flex-direction: column;
		background-color: #d5c75f;
		border: 1px;
		font-weight: bold;
		padding-bottom: 25px;
	}

	#imagen1
	{
		text-align: center;
		width: 100%;
	}

	#imagen1 img
	{
		text-align: center;
		width: 100%;
	}

	#imagen2
	{
		text-align: center;
		width: 100%;
	}

	#imagen3
	{
		text-align: center;
		width: 100%;
	}

	#imagen4
	{
		text-align: center;
		width: 100%;
	}

	#imagen5
	{
		text-align: center;
		width: 100%;
	}

	#imagen6
	{
		text-align: center;
		width: 100%;
	}
}

@-webkit-keyframes slidein
{
	0%
	{
			margin-top: 150%;
	}
 60%
	{
		margin-top: -5%;
	}
 100%
	{
		margin-top: 0%;
	}
}
