*
{
	margin:0px;
  padding: 0px;
}


@font-face {
  font-family: 'Dancing Script';
  src: url('Dancing Script.ttf');
}

body
{
  background-color:  #02010a;
  font-family: 'Dancing Script';
  font-size: 27px;
  display: inline;
}

.contenido
{
  width: 100%;
	max-width: 900px;
  margin: auto;
  overflow: hidden;
}

header
{
  height: 100%;
  overflow: hidden;
  background-color: #5b7989;
	color:white;
  border-radius: 10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

header .titulo
{
  float: left;
  line-height: 100PX;
  margin-left: 15px;
  font-weight: bold;
}

header nav
{
  float: right;
  height: 100%;
  line-height: 100px;

}

header nav a
{
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  line-height: normal;
  font-weight: bold;
}


@media screen and (max-width: 900px){

	header .titulo,
  header .nav
	{
		width: 100%;
    text-align: center;
    line-height: 100px;
	}
}
