@font-face {
  font-family: 'Dancing Script';
  src: url('Dancing Script.ttf');
}
body
{
  background-color: #5b7989;
  font-family: 'Dancing Script';
}

h1
{
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px #02010a;
}
#nav
{

}
